<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>North Line of Development</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <button class="menu-bt"><svg class="mob-menu" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="30px" height="30px"><path d="M 0 9 L 0 11 L 50 11 L 50 9 Z M 0 24 L 0 26 L 50 26 L 50 24 Z M 0 39 L 0 41 L 50 41 L 50 39 Z"/></svg></button>

        <div class="opc"></div>
        <div class="mobNav">
            <button class="closebtn"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z"/></svg></button>
            <ul>
                <li><a class="normal active" href="/">Home</a></li>
                <li><a class="normal" href="/services">Services</a></li>
                <li><a class="normal" href="/about">About</a></li>
                <li><a class="normal " href="/contact">Contact</a></li>
            </ul>
        </div>
        <nav>
            <img src="images/NLD-Logo.png" alt="">
            <ul>
                <li><a class="normal active" href="/">Home</a></li>
                <li><a class="normal" href="/services">Services</a></li>
                <li><a class="normal" href="/about">About</a></li>
                <li><a class="normal " href="/contact">Contact</a></li>
            </ul>

            <button class="Nav-btn" >Call us <img src="" alt=""></button>
        </nav>
    </header>
    <section>
    <div class="main-section">
        <div class="section-one">
            <div>
                <h1>WE ARE SKILLED IN </h1>
            </div>
            <div class="section-one-2">
                <p class="" >WEB DESING</p>
                <span>AND</span>
            </div>
            <div>
                <h3>WE ARE SKILLED IN WEB DESIGN</h1>
            </div>
        </div>
        <div class="section-two">
            <div class="div-img-section1">
              <img class="img-section-one" src="images/NLF-image1.png" alt=""> 
            </div>
            <div class="div-img-section2">
                <img class="img-section-two" src="images/NLD-hero-section.jpg" alt="">          
              </div>
        </div>
    
    
    </div>
    </section>

<script src="/frontendJS.js"></script>    
</body>
</html>